body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.container{
    padding-top: 70px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: black;
}

header #logo img{
    height: 50px;
    padding-left: 10px;
}

header #main-nav ul{
    list-style: none;
}

header #main-nav ul li{
    display: inline-block;
    padding-right: 10px;
}

header #main-nav a{
    color: seashell;
    opacity: 0.9;
    text-decoration: underline;
}

#mission{
    width: 1200px;
    height: 700px;
    background-image: url("../images/mission-background.jpg");
    display: flex;
    align-items: center;
}

#mission div{
    background-color: black;
    width: 1200px;
}

#featured-tea{
    width: 1000px;
}

#featured-tea .row{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#featured-tea .menu-item{

}

#featured-tea .menu-item img{
    width: 300px;
    height: 200px;
}

